@use '../../styles/partials/global.scss' as *;
@use '../../styles/partials/variables/variables.scss' as *;
@use '../../styles/partials/mixins.scss' as *;
.video-desc {
    &__title {
        font-family: $avenir-demi;
        font-size: $m-header;
        color: $brainflix-black;
        @include tablet {
            font-size: 3rem;
        }
        @include padding($top: $mobile-p-t, $bottom: $mobile-p-b);
        @include desktop {
            font-size: 2.3rem;
        }
    }
    &__snapshot {
        @include flex($j-content: space-between); 
        @include padding($top: $mobile-p-t, $bottom: $mobile-p-b);
        border-width: 1px 0 1px 0;
        border-color: $mercury;
        border-style: solid;
        color: $silver;
        font-size: 1.3rem;
        @include tablet {
            font-size: 1rem;
        }
        @include tablet {
            border-top: none
        }
        &--left {
            row-gap: 10px;
            &__channel {
                font-family: $avenir-demi;
                color: $brainflix-darkBlack;
            }
        }
        &--right {
            row-gap: 5px;
            @include desktop {
                padding-right: 25px;
            }
            &__icons {
                @include flex($j-content: space-around, $a-items: flex-start);
                column-gap: 5px;
            }
        }
    }
    &__snapshot-items {
        @include flex($direction: column);
        @include tablet {
            flex-direction: row;
            column-gap: 30px;
        }
    }
    &__text {
        font-size: 1.2rem;
        line-height: $m-body-line-height;
        @include padding($top: 1rem, $right: 0.5rem, $bottom: 1rem);
        @include tablet {
            padding-right: 1rem;
        }
    }
}