// Primary colors
$brainflix-black: #323232;
$brainflix-blue: #0095FF;
$silver: #AFAFAF;
$white: #FFFFFF;
// Secondary colors
$brainflix-darkBlack: #000000;
$brainflix-darkBlue: #0065AD;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;