//screens
//Responsive width for tablet and desktop. The default styling is mobile.
$tablet: 768px;
$desktop: 1280px;
//padding mobile variables
$mobile-p-r: 1.25rem;
$mobile-p-l: 1.25rem;
$mobile-p-t: 1.25rem;
$mobile-p-b: 0.8rem;
$mobile-heading-p-t: 2rem;
//padding tablet and desktop
$td-p-r: 3rem;
$td-p-l: 3rem;
$td-p-t: 2.25rem;
$td-p-b: 2.25rem;
$td-heading-p-t: 2.25rem;
$desktop-p-l: 6.25rem;
$desktop-p-r: 6.25rem;