@use '../../styles/partials/global.scss' as *;
@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/mixins.scss' as *;
.video {
    @include desktop {
        @include padding($top: $mobile-p-t, $left: $mobile-p-l, $bottom: $mobile-p-b);
    }
    &__playlist-title {
        font-size: 1rem;
        color: $silver;
        text-transform: uppercase;
        letter-spacing: 2px;
        @include padding($top: $mobile-p-t, $bottom: $mobile-p-b, $left: 0.8rem);
    }
    &__playlist-cards {
        width: fit-content;
    }
}