@use './variables/variables' as *;
// Flexbox mixin 
@mixin flex ($direction: row, $j-content: null, $j-items: null, $j-self: null, $a-content: null, $a-items: null, $a-self: null) {
    display: flex;
    flex-direction: $direction;
    justify-content: $j-content;
    justify-items: $j-items;
    justify-self:  $j-self;
    align-content: $a-content;
    align-items: $a-items;
    align-self: $a-self;
}
//Padding mixin
@mixin padding($top: null, $right: null, $bottom: null, $left:null) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

//Margin mixin
@mixin margin($top: null, $right: null, $bottom: null, $left:null) {
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}

@mixin tablet {
    @media (min-width: $tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}