// Primary colors
$brainflix-black: #323232;
$brainflix-blue: #0095FF;
$silver: #AFAFAF;
$white: #FFFFFF;
// Secondary colors
$brainflix-darkBlack: #000000;
$brainflix-darkBlue: #0065AD;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;
// Typography
$light: 300;
$normal: 400;
$demibold: 600;
$bold: 700;
@font-face {
    font-family: 'AvenirNextRegular';
    font-weight: $normal;
    font-style: normal;
    src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype"),
    url(../../assets/fonts/AvenirNextLTPro.ttf) format(truetype);
}
@font-face {
    font-family: 'AvenirNextDemi';
    font-weight: $demibold;
    font-style: normal;
    src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype"),
    url(../../assets/fonts/AvenirNextLTProDemi.ttf) format(truetype);
}
@font-face {
    font-family: 'AvenirNextBold';
    font-weight: $bold;
    font-style: normal;
    src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype"),
    url(../../assets/fonts/AvenirNextLTProBold.ttf) format(truetype);
}
$avenir-regular: "AvenirNextRegular", sans-serif;
$avenir-demi: "AvenirNextDemi", sans-serif;
$avenir-bold: "AvenirNextBold", sans-serif;
//Responsive width for tablet and desktop. The default styling is mobile.
$tablet: 768px;
$desktop: 1280px;
// Mobile font sizes and line height
$m-header: 2.3rem;
$m-header-line-height: 2.5rem;
$m-body-copy: 1.125rem;
$m-body-line-height: 1.5rem;
// Tablet and desktop (td) font size and line height
$td-section-header: 2.625rem;
$td-sh-line-height: 2.8rem;
$td-sub-header: 1.875rem;
$td-subheader-line-height: 2rem;
$td-body-copy: 1.2rem;
$td-body-line-height: 1.5rem;
//padding mobile variables
$mobile-p-r: 1.25rem;
$mobile-p-l: 1.25rem;
$mobile-p-t: 1.25rem;
$mobile-p-b: 0.8rem;
$mobile-heading-p-t: 2rem;
//padding tablet and desktop
$td-p-r: 3rem;
$td-p-l: 3rem;
$td-p-t: 2.25rem;
$td-p-b: 2.25rem;
$td-heading-p-t: 2.25rem;
$desktop-p-l: 6.25rem;
$desktop-p-r: 6.25rem;